html, body{
        width: 100%;
        height: 100%;
 padding: 0;
 margin: 0;
        overflow-x: hidden;
        
       
}
*{
caret-color: transparent;
}
.gradient{
       
    background:linear-gradient(to right, rgba(255, 0, 0, 0.638), rgb(136, 9, 148)) ;
    background-size: 300% 300%;
    animation: color 7s infinite ease-in-out;
    animation-play-state: running;
   
}
@keyframes color {
0%{
   background-position: 100% 50%;
}
50%{
    background-position:50% 0%;
}
100%{
    background-position: 0% 100%
}
}

.feature{
color: rgb(226, 42, 42);
height: 50px;
width: 50px;
}
.mainfeaturecontainer{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
justify-content: space-evenly;
}
.carousel-inner{
    height: 250px;
   
}
rect{
    height: 400px;
}
.carousel{
    display: flex;
    align-items: center;
}
@media(max-width:800px){
    .dog_image{
    padding-top: 0px;
       height: 350px;
       width: 180px;
       
    } 

 .font-style{
        font-size: 40px;   
    }
    .font-style-p{
        font-size: 30px;
        font-weight: 350;
    }
    .mainfeaturecontainer{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
    .review{
        font-weight:800;
        font-size: 20px;
    }
    rect{
        height: 600px;
    }
    .carousel-inner{
        height: 400px;
       
    }
    .name{
        font-size:17px ;
        font-weight: 600;
    }
    .nav-link{
        font-size: 20px;
       
    }
   
    .navbar-collapse ul li{
    
        text-align:center;
        background-color: rgba(0, 0, 0, 0.912);
        color: white;
        z-index: 1;
        width: 40vw;
        margin-left: 50vw;

      }
      
     .button-block-para{
       text-align: center;
     }
    .button-block-container .button-block-buttons{
            display: flex;
            justify-content: center;
         }
     .nav_container{
        height: 10vh;
     }
    }
    @media(min-width:770px) and (max-width:1000px){
        .dog_image{
        padding-top: 0px;
           height: 450px;
           width: 250px;
           
        } 
         .font-style{
            font-size: 90px;   
        }
        .font-style-p{
            font-size: 40px;
            font-weight: 400;
        }
        .navbar-collapse ul li{
            text-align: center;
            background-color: transparent;
            color: white;
            
          }
        .dog-text{
            width: 84vw;
        
        } 
        .nav_container{
            height: 10vh;
        }
             
    }
@media(min-width:800px)
{ .font-style{
    font-size: 90px;   
}
.font-style-p{
    font-size: 40px;
    font-weight: 400;
}
    .review{
        font-weight:800;
        font-size: 30px;
    }
    rect{
        height: 600px;
    }
    .carousel-inner{
        height: 300px;
       
    }
    .name{
        font-size:20px ;
        font-weight: 600;
    }
    .nav-link{
        font-size: 25px;
       
    }
    .button-block-para{
        text-align: center;
     }
     
     
    .nav_container{
        height: 18vh;
    }
    .navbar-collapse ul li{
       
        padding-left: 8vw;
      }
    .dog_container{
        height: 79vh;
    }
    .dog_image{
        padding-top: 0px;
           height: 450px;
           width: 270px;
           
        } 
  .button-block-container .button-block-buttons{
            display: flex;
            justify-content: center;
         }
}

.partner{
    background-color: rgb(251, 251, 251);
}

.button-block-container{
    background-color: rgba(255, 0, 0, 0.682);
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    height: 250px;
    align-items: center;
    
}
.button-block-para{
    color: white;
    font-size: 40px;
    font-weight: 700;

}
.custom-button{
    background-color: rgba(0, 0, 0, 0.592);
}
.footer-main{
    display: flex;
    height: 150px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

